/* Import Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

body {
  background-image: url('../images/milkyway.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.body-overlay {
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

/* Header Area */

.header-logo img {
  max-height: 100px;
}

.sg-heading {
 font-family: 'Lora', serif;
 color: white;
 text-transform: uppercase;
 margin-bottom: 20px; 
 text-shadow: 3px 1px #e2ac16;
}

.sg-text {
  font-family: 'Lora', serif;
  color: white;
}

/* Game Area */

.game-area {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin-bottom: 30px;
}

.buttons-container {
 width: 200px;
 margin: 0 auto;
}

.game-btn {
  min-width: 150px;
  margin: auto;
  margin-bottom: 15px;
  font-family: 'Lora', serif;
  text-transform: uppercase;
}

/* Game HUD */

#game-hud {
  width: 100%;
  height: 100%;
  font-family: 'Lora', sans-serif;
  color: white;
}

ul#choice {
  list-style-type: none;
  padding: 0;
}

ul#choice li {
  width: 100%;
  margin: 0 auto;
}

ul#choice li button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 320px;
}

#timer {
  height: 48px;
  padding-top: 10px;
  max-width: 320px;
}

#question {
  min-height: 75px;
}

#scoreboard {
  font-family: 'Lora', sans-serif;
  color: white;
  text-transform: uppercase;
}

.scoretext {
  font-size: 2rem;
  padding: 10px;
}

#correct-score-count {
  color: green;
}
#incorrect-score-count {
  color: red;
}
/* Footer */
footer {
  height: 100px;
}

footer a {
  color: white;
}

footer a:hover {
  color:#e2ac16;
}
.social-icons {
  min-height: 30px;
  color: white;
  font-size: 28px;
}

.social-icons i {
  padding: 5px;
}

/* Utility Class */

.hidden {
  display: none;
}

.show {
  display: inline-block;
}


/* Bootstrap Overrides */
.btn-success {
  background-color: #1f8136;
  border-color: #1f8136;;
}
